@using EduHomeUI.ViewModels.HomeViewModels;
@model HomeCompositeViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    int eventCount = 0; 
}
<!-- Background Area Start -->
<section id="slider-container" class="slider-area">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->
        @foreach (var slider in Model.HomeIndex.Sliders)
        {
            <div class="single-slide item" style="background-image: url(@slider.ImagePath)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-7 col-md-offset-left-5">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content">
                                        <h3>@slider.Title</h3>
                                        <p>@slider.Description </p>
                                        <a class="default-btn" href="about.html">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }
    </div>
</section>
<!-- Background Area End -->
<!-- Notice Start -->
<section class="notice-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="notice-left">
                    <h3>notice board</h3>
                    @{
                        int index = 0;
                    }

                    @foreach (var notice in Model.HomeIndex.Notices.Take(9))
                    {
                        if (!notice.IsDeleted)
                        {
                            string divClass = "single-notice-left";
                            if (index == 2)
                            {
                                divClass += " pb-75";
                            }
                            else if (index == 5 || index == 7)
                            {
                                divClass += " pb-70";
                            }
                            else
                            {
                                divClass += " mb-25 pb-25";
                            }

                            <div class="@divClass">
                                <h4>@notice.DateCreated.ToString("dd,MMMM,yyyy")</h4>
                                <p>@notice.Description</p>
                            </div>

                            index++;
                        }
                    }

                </div>
            </div>
            <div class="col-md-6">
                <div class="notice-right">
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>PROFESSIONAL TEACHER</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right mb-25 pb-25">
                        <h3>Online courses</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                    <div class="single-notice-right">
                        <h3>easy to addmission</h3>
                        <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Choose Start -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4">
                <div class="choose-content text-start">
                    <h2>WHY YOU CHOOSE EDUHOME ?</h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because. </p>
                    <p class="choose-option">I must explain to you how all this mistaken idea of denouncing pleure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder. </p>
                    <a class="default-btn" href="course-details.html">view courses</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Choose Area End -->
<!-- Courses Area Start -->
<div class="courses-area pt-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                    @await Component.InvokeAsync("Sectionlogo")
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var course in Model.HomeIndex.Courses.OrderByDescending(c => c.DateCreated).Take(3))
            {
                if (!course.IsDeleted)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="single-course">
                            <div class="course-img">
                                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                                    <img src="/@course.ImagePath" alt="@course.ImageName">
                                    <div class="course-hover">
                                        <i class="fa fa-link"></i>
                                    </div>
                                </a>
                            </div>
                            <div class="course-content">
                                <h3><a href="course-details.html">@course.Name</a></h3>
                                <p>@Html.Raw(course.Description.Substring(0, Math.Min(course.Description.Length, 155)))</p>
                                <a class="default-btn" asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">read more</a>
                            </div>

                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Event Area Start -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title">
                   @await Component.InvokeAsync("Sectionlogo")
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                @foreach (var newEvent in Model.HomeIndex.Events.OrderByDescending(e => e.Date).Take(5))
                {
                    if (!newEvent.IsDeleted)
                    {
                        <div class="single-event @(eventCount < 3 ? "mb-35" : "")">
                            <div class="event-date">
                                <h3><a href="event-details.html">@newEvent.Date.Day <span>@newEvent.Date.ToString("MMMM")</span></a></h3>
                            </div>
                            <div class="event-content text-start">
                                <div class="event-content-left">
                                    <h4><a href="event-details.html">@newEvent.Title</a></h4>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>@newEvent.StartTime.ToString("HH:mm") - @newEvent.EndTime.ToString("HH:mm")</li>
                                        <li><i class="fa fa-map-marker"></i>@newEvent.Venue</li>
                                    </ul>
                                </div>
                                <div class="event-content-right">
                                    <a class="default-btn" href="event-details.html">join now</a>
                                </div>
                            </div>
                        </div>
                        eventCount++;
                    }
                }
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                @{
                    int eventCountEvent = 0;
                }
                @foreach (var newEvent in Model.HomeIndex.Events.OrderByDescending(e => e.Date).Skip(4).Take(5))
                {
                    if (!newEvent.IsDeleted)
                    {
                        <div class="single-event @(eventCountEvent < 3 ? "mb-35" : "")">
                            <div class="event-date">
                                <h3><a href="event-details.html">@newEvent.Date.Day <span>@newEvent.Date.ToString("MMMM")</span></a></h3>
                            </div>
                            <div class="event-content text-start">
                                <div class="event-content-left">
                                    <h4><a href="event-details.html">@newEvent.Title</a></h4>
                                    <ul>
                                        <li><i class="fa fa-clock-o"></i>@newEvent.StartTime.ToString("h:mm tt") - @newEvent.EndTime.ToString("h:mm tt")</li>
                                        <li><i class="fa fa-map-marker"></i>@newEvent.Venue</li>
                                    </ul>
                                </div>
                                <div class="event-content-right">
                                    <a class="default-btn" href="event-details.html">join now</a>
                                </div>
                            </div>
                        </div>
                        eventCountEvent++;
                    }
                }
            </div>

        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-lg-8 offset-lg-2">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="img/testimonial/testimonial.jpg" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                                <h4>David Morgan</h4>
                                <h5>Student, CSE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    @await Component.InvokeAsync("Sectionlogo")
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var blog in Model.HomeIndex.Blogs.OrderByDescending(b=>b.DateCreated).Take(3))
            {
                if (!blog.IsDeleted)
                {
                    <div class="col-lg-4 col-md-6">
                        <div class="single-blog">
                            <div class="blog-img">
                                <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id"><img src="@blog.ImagePath" alt="@blog.ImageName"></a>
                                <div class="blog-hover">
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id"><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="blog-content">
                                <div class="blog-top">
                                    <p>By @blog.AuthorName  / @blog.DateCreated.ToString("dd,MMMM,yyyyy")  /  <i class="fa fa-comments-o"></i> @blog.CommentCount</p>
                                </div>
                                <div class="blog-bottom">
                                    <h2><a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">@blog.Title</a></h2>
                                    <a asp-controller="Blog" asp-action="Details" asp-route-id="@blog.Id">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
<!-- Subscribe Start -->
@await Html.PartialAsync("_SubscribeSection", Model.SubscriberCreate)
<!-- Subscribe End -->
<!-- Subscribe End -->