@model Dictionary<string,string>

<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a href="index.html"><img src="@Model["footerlogo"]" alt="eduhome"></a>
                        </div>
                        <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and give you a coete account of the system. </p>
                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="@Model["facebookicon"]"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="@Model["pinteresticon"]"></i>

                                    </a>
                                </li>
                                <li><a href="#">
                                        <i class="@Model["vimeoicon"]"></i>
                                    </a></li>
                                <li><a href="#">
                                        <i class=" @Model["twittericon"]"></i>
                                   </a>
                                    </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>information</h3>
                        <ul>
                            <li><a href="#">addmission</a></li>
                            <li><a href="#">Academic Calender</a></li>
                            <li><a href="event.html">Event List</a></li>
                            <li><a href="#">Hostel &amp; Dinning</a></li>
                            <li><a href="#">TimeTable</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 pt-4 pt-lg-0">
                    <div class="single-widget">
                        <h3>useful links</h3>
                        <ul>
                            <li><a href="course.html">our courses</a></li>
                            <li><a href="about.html">about us</a></li>
                            <li><a href="teacher.html">teachers &amp; faculty</a></li>
                            <li><a href="#">teams &amp; conditions</a></li>
                            <li><a href="event.html">our events</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 pt-4 pt-lg-0">
                    <div class="single-widget">
                        <h3>get in touch</h3>
                        <p>@Model["address"]</p>
                        <p>@Model["footerphonenumber"] <br /> @Model["footerphonenumber2"]</p>
                        <p>@Model["email"]<br>@Model["website"]</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <p>Copyright © <a href="#">Eduhome</a> 2022. All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>