@using EduHome.Core.Entities;
@model CourseDetails
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<partial name="_Notification" />
@{
	ViewData["Title"] = "Details";
}
<div class="container-fluid">

	<!-- start page title -->
	<div class="row">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Sliders</h4>
				<div class="table-responsive">
					<table class="table table-dark mb-0">

						<thead>
							<tr>
								<th>StartDate</th>
								<th>Duration</th>
								<th>SkillLevel</th>
								<th>Language</th>
								<th>StudentCount</th>
								<th>Assesment</th>
								<th>Fee</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<td>@Model.StartDate</td>
								<td>@Model.Duration</td>
								<td>@Model.SkillLevel</td>
								<td>@Model.Language</td>
								<td>@Model.StudentCount</td>
								<td>@Model.Assesment</td>
								<td>@Model.Fee</td>
			
							</tr>

						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>