@using EduHome.Core.Entities;
@using EduHomeUI.Areas.EHMasterPanel.ViewModels.CourseViewModels;
@model CourseDetailsViewModel

@{
    var courseDetails = ViewBag.CourseDetails as CourseDetails;
    var courseName = ViewBag.CourseName as string;
}

        <!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>courses details</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="courses-details-area blog-area pt-150 pb-140">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="courses-details">
                    <div class="courses-details-img">
                        <img src="@Model.ImagePath" alt="@Model.ImageName">
                    </div>
                    <div class="course-details-content">
                        <h2>@courseName</h2>
                        <p>@Html.Raw(Model.Description)</p>

                        <div class="course-details-right">
                            <h3>COURSE FEATURES</h3>
                            <ul>
                                <li>starts <span>@Model.Start</span></li>
                                <li>duration <span>@Model.Duration</span></li>
                                <li>class duration <span>@Model.ClassDuration</span></li>
                                @if (courseDetails != null)
                                {
                                    <!-- Display Skill Levels -->
                                    <li>
                                        Skill Level:
                                        @if (courseDetails.CourseDetailsSkillLevels != null)
                                        {
                                            @foreach (var skillLevel in courseDetails.CourseDetailsSkillLevels)
                                            {
                                                if (skillLevel.SkillLevel != null)
                                                {
                                                    <span>@skillLevel.SkillLevel.Skill</span>
                                                }
                                            }
                                        }
                                    </li>

                                    <!-- Display Languages -->
                                    <li>
                                        Language:
                                        @if (courseDetails.CourseDetailsLanguages != null)
                                        {
                                            @foreach (var language in courseDetails.CourseDetailsLanguages)
                                            {
                                                if (language.Language != null)
                                                {
                                                    <span>@language.Language.LanguageOption</span>
                                                }
                                            }
                                        }
                                    </li>

                                    <!-- Display Student Count -->
                                    <li>
                                        Students: <span>@courseDetails.StudentCount</span>
                                    </li>

                                    <!-- Display Assessments -->
                                    <li>
                                        Assessment:
                                        @if (courseDetails.CourseDetailsAssesments != null)
                                        {
                                            @foreach (var assessment in courseDetails.CourseDetailsAssesments)
                                            {
                                                if (assessment.Assesment != null)
                                                {
                                                    <span>@assessment.Assesment.AssesmentType</span>
                                                }
                                            }
                                        }
                                    </li>
                                }
                                else
                                {
                                    <p>Course details not found.</p>
                                }



                            </ul>
                            <h3 class="red">course fee $@Model.CourseFee</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
