@using EduHome.Core.Entities
@model ProductEntity
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<table class="table table-responsive table-light table-bordered" style="width: 100%">
    <tr>
        <th>Product Name</th>
        <th>Product Price</th>
        <th>Product Quantity</th>
        <th>Product Image</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>@Model.Product</td>
        <td>@Model.Price</td>
        <td>@Model.Quantity</td>
        <td><img src="/@Model.ImagePath" style="width:130px; height:150px;" /></td>
        <td>@(Model.Price * Model.Quantity)</td>
    </tr>
</table>
<br />

<form method="post" asp-action="Checkout" asp-controller="Checkout">
    <input type="hidden" name="product.Product" value="@Model.Product" />
    <input type="hidden" name="product.Price" value="@Model.Price" />
    <input type="hidden" name="product.Quantity" value="@Model.Quantity" />
    <input type="hidden" name="product.ImagePath" value="@Model.ImagePath" />

    <p>
        <button type="submit" class="btn btn-primary">Checkout</button>
    </p>
</form>
