@*@using EduHome.Core.Entities;
@model CourseDetails
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<partial name="_Notification" />
@{
	ViewData["Title"] = "Details";
}
<div class="container-fluid">

	<!-- start page title -->
	<div class="row">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Sliders</h4>
				<div class="table-responsive">
					<table class="table table-dark mb-0">

						<thead>
							<tr>
								<th>How To Apply</th>
								<th>AboutCourse</th>
								<th>Certification</th>
								<th>Start</th>
								<th>Duration</th>
								<th>ClassDuration</th>
								<th>CourseFee</th>
								<th>LanguageOption</th>
								<th>Assesment</th>
								<th>Skill</th>
								<th>StudentCount</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<td>@Model.HowToApply</td>
								<td>@Model.AboutCourse</td>
								<td>@Model.Certification</td>
								<td>@Model.Start</td>
								<td>@Model.Duration</td>
								<td>@Model.ClassDuration</td>
								<td>@Model.CourseFee</td>
								<td>@Model.LanguageOption</td>
								<td>@Model.Assesment</td>
								<td>@Model.Skill</td>
								<td>@Model.StudentCount</td>

							</tr>

						</tbody>
					</table>
				</div>

			</div>
		</div>
	</div>
</div>*@