@using EduHomeUI.ViewModels.AboutViewModels;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model AboutCompositeViewModel
<!-- Banner Area Start -->
<div class="banner-area-wrapper">
    <div class="banner-area text-center">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="banner-content-wrapper">
                        <div class="banner-content">
                            <h2>about us</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->
<!-- About Start -->
<div class="about-area pt-145 pb-155">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="about-content">
                    <h2>WELCOME TO <span>EDUHOME</span></h2>
                    <p>I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system, and expound the actual teachings  the master-builder of humanit happiness</p>
                    <p class="hidden-sm">I must explain to you how all this mistaken idea of denouncing pleure and prsing pain was born and I will give you a complete account of the system</p>
                    <a class="default-btn" asp-controller="Course" asp-action="Index" >view courses</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-img">
                    @await Component.InvokeAsync("Aboutpng")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Teacher Start -->
<div class="teacher-area pb-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title text-center">
                    @await Component.InvokeAsync("Sectionlogo") 
                    <h2>meet our teachers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var teacher in Model.AboutIndex.Teachers.OrderByDescending(t => t.DateCreated).Take(4))
            {
                @if (!teacher.IsDeleted)
                {
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-teacher">
                            <div class="single-teacher-img">
                                <a asp-controller="Teacher" asp-action="Details" asp-route-id="@teacher.Id"><img src="@teacher.ImagePath" alt="@teacher.ImageName"></a>
                            </div>
                            <div class="single-teacher-content text-center">
                                <h2><a asp-controller="Teacher" asp-action="Details" asp-route-id="@teacher.Id">@teacher.Name @teacher.Surname</a></h2>
                                <h4>@teacher.Position</h4>
                                <ul>
                                    <li><a href="#"><i class="zmdi zmdi-facebook"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-pinterest"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-vimeo"></i></a></li>
                                    <li><a href="#"><i class="zmdi zmdi-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
<!-- Teacher End -->
<!-- Testimonial Area Start -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                <div class="col-lg-8 offset-lg-2">
                    <div class="single-testimonial">
                        <div class="testimonial-info">
                            <div class="testimonial-img">
                                <img src="img/testimonial/testimonial.jpg" alt="testimonial">
                            </div>
                            <div class="testimonial-content">
                                <p>I must explain to you how all this mistaken idea of denoung pleure and praising pain was born and I will give you a coete account of the system, and expound the actual</p>
                                <h4>David Morgan</h4>
                                <h5>Student, CSE</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial Area End -->
<!-- Notice Start -->
<section class="notice-area two pt-140 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="notice-right-wrapper mb-25 pb-25">
                    <h3>TAKE A VIDEO TOUR</h3>
                    <div class="notice-video">
                        <div class="video-icon video-hover">
                            <a class="video-popup" href="https://www.youtube.com/watch?v=ZN6tueGAA7g">
                                <i class="zmdi zmdi-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="notice-left-wrapper">
                    <h3>notice board</h3>
                    <div class="notice-left">
                        @{
                            int index = 0;
                            int noticeCount = Model.AboutIndex.Notices.Count();
                        }
                        @if (Model.AboutIndex.Notices == null || !Model.AboutIndex.Notices.Any())
                        {
                            <p>There are no notices.</p>
                        }
                        else
                        {
                            @foreach (var notice in Model.AboutIndex.Notices.OrderByDescending(n => n.DateCreated).Take(6))
                            {
                                string divClass = "single-notice-left";

                                if (index == noticeCount - 1 && index % 2 == 0)
                                {
                                    divClass += " pb-70";
                                }
                                else if (index % 2 == 0)
                                {
                                    divClass += " mb-23 pb-20";
                                }
                                else
                                {
                                    divClass += " hidden-sm mb-23 pb-20";
                                }

                                <div class="@divClass">
                                    <h4>@notice.DateCreated.ToString("dd,MMMM,yyyy")</h4>
                                    <p>@notice.Description</p>
                                </div>

                                index++;
                            }
                        }

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- Notice End -->
<!-- Subscribe Start -->
@await Html.PartialAsync("_SubscribeSection", Model.SubscriberCreate)
<!-- Subscribe End -->